# Überschrift
## Unterüberschrift
 das ist Text
 - Punkt 1
 - Punkt 2
 - *Punkt 3*

In [3]:
print ("Hello world")

Hello world

In [4]:
name = "lovelace"

In [5]:
print(name)

lovelace

In [6]:
name

'lovelace'

In [7]:
age = 73

In [8]:
print(age)

73

In [9]:
size = 1.7123

In [10]:
size

1.7123

In [11]:
# Boolscher Wert
knows_math = True
likes_slacking = False

In [12]:
type(size)

float

In [13]:
type(age)

int

In [14]:
type(name)

str

In [15]:
type(knows_math)

bool

In [16]:
# Operatoren
5 + 5

10

In [17]:
age *100

7300

In [18]:
name + name

'lovelacelovelace'

In [19]:
name * 10

'lovelacelovelacelovelacelovelacelovelacelovelacelovelacelovelacelovelacelovelace'

In [20]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [22]:
name + "10"

'lovelace10'

In [23]:
name + str(age)

'lovelace73'

In [24]:
new_number = "10"
int(new_number)

10

In [25]:
type(new_number)

str

In [26]:
new_number = int(new_number)

In [27]:
# Funktionen und Methoden (Methoden hängen an einem Objekt)
len(name)

8

In [28]:
name.upper()

'LOVELACE'

In [29]:
name_capital = name.upper

In [30]:
name.count("e")

2

In [31]:
name.count("o")

1

In [32]:
name.count("i")

0

In [33]:
name.replace?

In [34]:
name.count?

In [35]:
name.replace("lace", " is everywhere")

'love is everywhere'

In [36]:
# Liste und Dictionaries
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [37]:
names[2]

'Curie'

In [38]:
names[0]

'Lovelace'

In [39]:
names[3]

'Hawking'

names [3]

In [40]:
names [3]

'Hawking'

In [41]:
names [-1]

'Hawking'

#Slicing
names [0:3]

In [42]:
names [0:3]

['Lovelace', 'Darwin', 'Curie']

In [43]:
names [3:]

['Hawking']

In [44]:
names [:3]

['Lovelace', 'Darwin', 'Curie']

In [45]:
#Dictionary
authors_and_birth_dates = {"Lovelace":1882,
                           "Darwin":1809,
                           "Noether": 1882}

In [46]:
authors_and_birth_dates["Darwin"]

1809

In [47]:
authors_and_birth_dates["Noether"]

1882

In [48]:
authors_and_birth_dates = {"Lovelace": [1882, "London","1903"]}

In [49]:
authors_and_birth_dates = {"Lovelace": [1882,"London", "1903"],
                          "Darwin": 1809,"xy"
                          "Noether": 1882}

In [50]:
authors_and_birth_dates["Lovelace"[1]]

KeyError: 'o'

In [51]:
authors_and_birth_dates["Lovelace"][1]

'London'

In [52]:
%who

age	 authors_and_birth_dates	 knows_math	 likes_slacking	 name	 name_capital	 names	 new_number	 size

In [53]:
#for-Schleifen
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [54]:
for name in names:
    print(name + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [55]:
for name in names:
    print(name + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [56]:
for name in names:
    print(name + " did awesome stuff")
    print ("----------------------")

Lovelace did awesome stuff
----------------------
Darwin did awesome stuff
----------------------
Curie did awesome stuff
----------------------
Hawking did awesome stuff
----------------------

In [57]:
for name in names:
    print(name + " did awesome stuff")
print ("----------------------")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff
----------------------

In [58]:
#conditionals
temp = 20

In [59]:
if temp > 15:
    print("It's warm")

It's warm

In [60]:
temp >15

True

In [61]:
temp = 10

In [63]:
if temp > 15:
    print("It's warm")
else: 
    print ("It's cold")

It's cold

In [66]:
if temp == 20:
    print ("It's perfect")
elif temp > 15:
    print("It's warm")
else: 
    print ("It's cold")

It's perfect

temp = 20

In [65]:
temp = 20

In [67]:
temp = 18
if temp == 20:
    print ("It's perfect")
elif temp > 15:
    print("It's warm")
else: 
    print ("It's cold")

It's warm